# Node
node_modules/

# Rust
/target/

# Tauri
/src-tauri/target
/src-tauri/.cargo

# IDEs
.idea/
.vscode/
.DS_Store

# Builds
/dist/
/packages/frontend/dist/
packages/frontend/test-results/
src-tauri/icons/

# Env
.env
.env.*
!*.example


*storybook.log
storybook-static
